img {
    max-width: 100%;
    height: auto;
    display: block;
}

#container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;/*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 90%;
    margin:  1.5em 0 0 0;
    padding: 0 5%;
    flex: initial;
}

nav {
    margin: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;/*main axis*/
    align-items: flex-start; /*cross axis*/
}

@media all and (min-width: 300px) {
    nav {
        width: 90%;
        padding: 0 5%;
    }
}

@media all and (min-width: 600px) {
    nav {
        width: 30%;
        padding: 0 0 0 5%;
    }
}

@media all and (min-width: 700px) {
    nav {
        width: 25%;
    }
}

.primary, .secondary {
    margin: 0;
    padding: 0;
    flex: initial;
}

@media all and (min-width: 300px) {
    .primary, .secondary {
        width: 50%;
    }
}

@media all and (min-width: 600px) {
    .primary, .secondary {
        width: 100%;
    }
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.selected {
    color: #F23005; /*orange*/
}

section {
    margin: 0;
    padding: 0 5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;/*main axis*/
    align-items: flex-start; /*cross axis*/
}

@media all and (min-width: 300px) {
    section {
        width: 90%;
    }
}

@media all and (min-width: 600px) {
    section {
        width: 55%;
    }
}

@media all and (min-width: 700px) {
    section {
        width: 60%;
    }
}

#empty-msg {
    width: 90%;
    margin: 0 2.5%;
    padding: 0 2.5%;
    color: #616161; /*grey 700*/
    flex: initial; /*flex: 0 1 auto*/
}

#gallery {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;/*main axis*/
    align-items: flex-start; /*cross axis*/
}

.president {
    width: 100%;
    margin: .5em 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;/*main axis*/
    align-items: flex-start; /*cross axis*/
    background: #F2F4F8; /*shiny grey*/
    border: 1px solid #EEE; /*grey 200*/
    position: relative;
}

figure {
    margin: .5em 0 0 0;
    padding: .5em 5% 0 5%;
    flex: initial; /*flex: 0 1 auto*/
}

.left {
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
}

.right {
    width: 10%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    background: #33B1FF; /*medium blue*/
    border-radius: 5px;
    text-align: center;
}

.right:hover {
    cursor: pointer;
    background: #2B96D9; /*slightly darker blue*/
}

@media all and (min-width: 300px) {
    figure {
        width: 25%;
    }

    .left {
        width: 50%;
    }
}

@media all and (min-width: 600px) {
    figure {
        width: 15%;
    }
}

@media all and (min-width: 900px) {
    figure {
        width: 20%;
    }
}

/*Fonts*/
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 700;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;
}

.right p {
    font-weight: 600;
    pointer-events: none;
}

li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2;
    font-weight: 600;
    text-transform: lowercase;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Media queries*/
@media all and (min-width: 300px) {
    p, li {
        font-size: .875em;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: .9375em;
    }
}

@media all and (min-width: 400px) {
    p, li {
        font-size: .9375em;
    }

    h1 {
        font-size: 1.4em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }
}

@media all and (min-width: 600px) {
    p, li {
        font-size: 1em;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.2em;
    }
}

@media all and (min-width: 900px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.4em;
    }
}